@media screen and (max-width: 991px) {
    #menu ul {
        text-align: center;
    }
    #main-header .header-caption {
        width: 100%;
    }
    .col-1-2 {
        width: 100%;
        float: center;
        text-align: center;
    }
    #about figure img {
        max-height: 100vh;
        max-width: 100%;
    }
    #portfolio .portfolio-item {
        width: 100%;
    }
    #contact form {
        margin-top: 30px;
    }
    #contact h3 {
        text-align: center;
    }
    #contact .social-icon {
        margin: 0 10px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    #portfolio .portfolio-item {
        width: 50%;
    }
    #portfolio .portfolio-item:last-child {
        width: 100%;
    }
}