/* General styles */
body {
    font-family: 'Lato', sans-serif;
}

.span-green {
    font-weight: 400;
    color:  #1ac056;
    text-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

h3 {
    font-weight: 300;
    color: #291f1a;
    text-shadow: 2px 2px 2px rgba(0,0,0,.1);
    font-size: 2em;
}
p {
    font-weight: 300;
}
/* General styles END */

/* Main nav styles */
.navbar {
    background-color: rgba(9, 155, 54, 0.4);
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

.navbar .navbar-brand:focus,
.navbar .navbar-nav .nav-link:focus {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-brand:hover {
    color: #fcc224;
    text-shadow:2px 2px 2px rgba(0,0,0,.5);
    transition: all 0.2s;
}

.navbar-light .navbar-toggler {
    border: none;
    transition: all .2s ease;
}

.navbar-light .navbar-toggler:active,
.navbar-light .navbar-toggler:hover {
    outline: 0;
    cursor: pointer;
    border: 1px solid #fcc224;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    
}

.navbar-light .navbar-toggler:focus {
    outline: 0;
}
/* Main nav styles END */

/* Main header styles */
#main-header {
    height: 100vh;
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#main-header .header-caption h1,
#main-header .header-caption h2 {
    font-weight: 100;
    text-shadow:2px 2px 2px rgba(0,0,0,.1);
}

#main-header .header-caption h1 {
    font-size: 5em;
}

#main-header .header-caption h2 {
    font-size: 2em;
}
/* Maind header styles END */

/* About section styles */
#about {
    background-color:  #f9fcfe;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
    padding: 100px;
}

#about .section-header {
    margin-top: 50px;
    margin-bottom: 30px;
}
/* About section styles END */
#skills {
    padding: 100px;
}

#skills .row {
    margin-top: 50px;
}
/* Skills section styles */

/* Portfolio section styles */
#portfolio {
    margin-bottom: 80px;
}

#portfolio .section-header {
    margin-bottom: 50px;
}

.portfolio-item, .portfolio-item-mask {
    height: 350px;
    padding: 0;
}
.portfolio-item-mask,
.portfolio-item-border {
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .portfolio-item-border {
    border: 1px solid #fff;
    line-height: 30px;
}
#portfolio .portfolio-item-content,
#portfolio .portfolio-item-border {
    color: #fff;
    height: 95%;
    width: 95%;
}
#portfolio .portfolio-item-content i {
    font-size: 2em;
}
#porftolio, .portfolio-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.portfolio-item-mask {
    width: 100%;
    transition: all 0.2s ease-out;
    opacity: 0;
}
.portfolio-item .portfolio-item-link {
    text-decoration: none;
    font-weight: 300;
}
#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}
#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}
#portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg);
}
.portfolio-item-mask:hover {
    background-color: rgba(33, 59, 80, 0.65);
    color: #fff;
    opacity: 1;
}
/* Portfolio section styles END */

/* Main footer styles */
#contact {
    background-color: #213b50;
    padding: 100px;
}
#contact address {
    font-weight: 300;
    font-style: normal;
    color: #fff;
}
#contact h3 {
    color: #fff;
    margin-bottom: 40px;
}
#contact .social-icons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
}
#contact .social-icon {
    border: 1px solid #fff;
    color: #fff;
    font-size: 2em;
    height: 50px;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: all 0.2s ease-out;
}
#contact .social-icon:hover {
    color: #213b50;
    background-color: #fff;
}
.contact-content a {
    color: #1ac056;
}
#contact input:not([type="submit"]),
#contact textarea {
    width: 100%;
    background-color: #274860;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
}
#contact input[type="submit"] {
    background-color: #1ac056;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    float: right;
    transition: all 0.2s ease-out;
}
#contact input[type="submit"]:hover {
    cursor: pointer;
    color: #1ac056;
    background-color: #fff;
}
#contact input:focus, 
#contact textarea:focus {
    background-color: #4e708c;
    color: #ffffff;
    border: solid #ffffff 1px;
}
#contact input::placeholder,
#contact textarea::placeholder {
    color: rgb(176, 194, 235);
}
/* Main footer styles END */

/* Below footer styles */
.copyright {
    background-color: #132431;
    color: #fff;
    font-weight: 300;
}
/* Below footer styles END */